<hr>
<h4>Meat</h4>
<button class = "button" [style.background-color]=" beefFlag ? 'green' : 'white' " (click)="checkBeef()" style="margin-right: 10px"> Beef</button>
<button class = "button" [style.background-color]=" porkFlag ? 'green' : 'white' " (click)="checkPork()" style="margin-right: 10px"> Pork</button>
<button class = "button" [style.background-color]=" chickenFlag ? 'green' : 'white' " (click)="checkChicken()" style="margin-right: 10px"> Chicken</button>
<button class = "button" [style.background-color]=" shrimpFlag ? 'green' : 'white' " (click)="checkShrimp()" style="margin-right: 10px"> Shrimp</button>
<button class = "button" [style.background-color]=" fishFlag ? 'green' : 'white' " (click)="checkFish()" style="margin-right: 10px"> Fish</button>

<hr>
<h4>Vegetables</h4>
<button class = "button" [style.background-color]=" tomatoFlag ? 'green' : 'white' " (click)="checkTomato()" style="margin-right: 10px"> Tomatoes</button>
<button class = "button" [style.background-color]=" potatoFlag ? 'green' : 'white' " (click)="checkPotato()" style="margin-right: 10px"> Potatoes</button>
<button class = "button" [style.background-color]=" brocoFlag ? 'green' : 'white' " (click)="checkBrocolli()" style="margin-right: 10px"> Broccoli</button>
<button class = "button" [style.background-color]=" bokFlag ? 'green' : 'white' " (click)="checkBok()" style="margin-right: 10px"> Bok-Choy</button>
<button class = "button" [style.background-color]=" pepFlag ? 'green' : 'white' " (click)="checkPep()" style="margin-right: 10px"> Green Pepper</button>
<button class = "button" [style.background-color]=" eggFlag ? 'green' : 'white' " (click)="checkEgg()" style="margin-right: 10px"> Egg</button>
<button class = "button" [style.background-color]=" tofuFlag ? 'green' : 'white' " (click)="checkTofu()" style="margin-right: 10px"> Tofu</button>

<hr>
<div class = "centerBox">
  <div>
    <button class = "cookBox" (click) = "cook()"> cook </button>
    <button class = "cookBox" (click) = "reset()"> reset </button>
  </div>
  <img *ngIf="isCook" class = "resultImg" src={{imgSrc}} alt = {{imgAlt}}>
  <div *ngIf="isCook" class = "resultBox"> {{result}} </div>
</div>

